body{
    background-image: url(../BACKtours.jpg);
    background-size: cover;
}
.container {
    padding: 50px 10%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.card {
    position: relative;
    width: 19%;
}

.rating {
    position: absolute;
    right: 0;
    background-color: #263A29;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
}

.card-details > h2 {
    color: #E86A33;
    font-size: 16px;
    margin: 10px 0px;
}

.image > img {
    height: 300px;
    width: 100%;
}

button {
    margin: 30px 0px;
    border: none;
    background-color: #E86A33;
    color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
